{% extends 'layout.html' %} {% block main %}
<h1>Deal or No Deal - Final Result</h1>

{% if offer is not none %}
<h2>Congratulations! You won {{ offer }} from the banker!</h2>
<h2>Your Initial Case Number: {{ case_num }}</h2>
<h2>Value in Your Initial Case: {{ case_value }}</h2>
{% else %}
<h2>The game has ended without a final result.</h2>
<h2>Your Initial Case Number: {{ case_num }}</h2>
<h2>Value in Your Initial Case: {{ case_value }}</h2>
{% endif %}

<h2>Banker's Offers:</h2>
<ul>
  {% for offer in offers %}
  <li>{{ offer }}</li>
  {% endfor %}
</ul>

<a href="{{ url_for('game_bp.game_index') }}" class="btn btn-primary"
  >Start New Game</a
>

<form action="{{ url_for('game_bp.reset_game') }}" method="post">
  <input type="submit" value="Reset Game" class="btn btn-secondary" />
</form>

{% endblock %}
