{% extends 'layout.html' %} {% block main %}
<h1>Deal or No Deal - Choose Your Case</h1>
<form action="{{ url_for('game_bp.choose_case') }}" method="post">
  <div class="row row-cols-3">
    {% for case in cases %}
    <div class="col">
      <button
        type="submit"
        name="case_num"
        value="{{ case.num }}"
        class="btn btn-block {% if case.disabled %}btn-secondary{% else %}btn-primary{% endif %}"
        {%
        if
        case.disabled
        %}disabled{%
        endif
        %}
      >
        Case {{ case.num }}
      </button>
    </div>
    {% endfor %}
  </div>
</form>
<form action="{{ url_for('game_bp.reset_game') }}" method="post">
  <input type="submit" value="Reset Game" class="btn btn-danger mt-3" />
</form>
{% endblock %}
