{% extends 'layout.html' %} {% block main %}
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='game.css') }}" />
</head>
<body
  style="
    background: url(/static/img/game.jpg) no-repeat center center;
    background-size: cover;
    min-height: 100vh;
  "
>
  <div class="container-Phone">
    <h1 class="title">
      <span class="title-text">Deal or No Deal - Oferta de la banca!</span>
    </h1>
    <img src="/static/img/banker.jpg" alt="Banker" />
    <h2 class="oferta">La oferta de la banca es: {{ offer }}</h2>
    <div class="btns1">
      <form action="{{ url_for('game_bp.accept_offer') }}" method="post">
        <input type="submit" value="Aceptar Oferta" class="boton-deal" />
      </form>
      <form action="{{ url_for('game_bp.reject_offer') }}" method="post">
        <input type="submit" value="Rechazar Oferta" class="boton-no-deal" />
      </form>
    </div>
  </div>
</body>
{% endblock %}
