{% extends 'layout.html' %} {% block main %}
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}" />
</head>
<body
  style="
    background: url(/static/img/inicio.jpg) no-repeat center center;
    background-size: cover;
    min-height: 100vh;
  "
>
  <main class="form-signin w-50 m-auto">
    {% if not current_user.is_authenticated %}

    <img
      class="title"
      src="{{ url_for('static', filename='img/title.png') }}"
      alt="DealOrNoDeal">

      <div class="btns">
        <a class="btn-play" href="/auth/login">Ingresar</a>
        <a class="btn-play" href="/auth/register">Registrarse</a>
      </div>
    </div>
    {% else %}
    <img
      class="title"
      src="{{ url_for('static', filename='img/title.png') }}"
      alt="DealOrNoDeal"
    />
    <h1 class="welcome">Bienvenido {{ current_user.fullname }}</h1>
    <h2 class="txt-play">¿Te animas a probar suerte para ser millonario?</h2>
    <form action="{{ url_for('game_bp.reset_game') }}" method="post">
      <input type="submit" value="Jugar" class="btn-play" />
    </form>
    <h2 class="txt-play">¿Ya estabas en camino a ser millonario?</h2>
    <a href="{{ url_for('game_bp.reveal_cases') }}" class="btn-play">¡Volver al juego!</a>
    {% endif %}
  </main>
</body>
{% endblock %}
